.App {
  text-align: center;
  justify-content: center;
  height: 100%;
}

.TopBar {
  display:flex;
  border-bottom: 5px solid rgb(65 195 255);
  /* text-align: right; */
}

.TopBarText {
  display:flex;
  justify-content: right;
  position: absolute;
  width: 100%;
  height: 150px;
  
}

.Stingray-Logo {
  display: flex;
  justify-content: left;
  align-items: center;
  max-height: 150px;
  /* height: 40vmin; */
}

.VideoCenter {
  background: #f6f7f8;
  display: flex;
justify-content: center;  
}

.VideoTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Comic Sans";
}

.VideoSection{
  height: 100%
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
} */

/* .App-header {
  background-color: #209c87;
  min-height: 20%vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
